.card.stock-card {
  box-shadow: 2px 2px 15px #888;
}

.card.stock-entry {
  border: none;
}

.card-title.stock-title {
  margin-bottom: 0;
}

.list-date {
  margin: 0 .5rem;
}

.list-date>button {
  margin: 0 .5rem;
  background-color: transparent;
}
